<?xml version="1.0"?>
<launch>
  
  <node pkg="obstacle_avoidance_base" type="obstacle_avoidance_base" name="obstacle_avoidance" output="screen">
   launch-prefix="xterm -e gdb --args"
   <param name="base_frame" value="/base_link" />
   <param name="max_range" value="5.0" />
   <param name="max_linear_velocity" value="1.0" />
   <param name="max_angular_velocity" value="1.0" />
   <param name="max_linear_accel" value="5.0" />
   <param name="max_angular_accel" value="5.0" />
   <param name="map_resolution" value="0.05" />
   <param name="linear_velocity_resolution" value="0.05" />
   <param name="angular_velocity_resolution" value="0.05" />
   <param name="robot_radius" value="0.6" />
   <param name="time_horizon" value="4.0" />
   <param name="k_v" value="10.0" />
   <param name="k_w" value="1.0" />
   <remap from="/obstacle_avoidance/scans" to="/scanpc"/>
   <remap from="/obstacle_avoidance/kobuki_velocity" to="/odom"/>
   <remap from="/obstacle_avoidance/output_velocity" to="/mux/autoCommand"/>
  </node>
  
   <node pkg="wifi_scanner" type="wifi_mapper" name="wifi_mapper" output="screen">
    <param name="neighbourhood" value="8"/>
    <param name="base_frame" value="/base_link"/>
    <param name="debug" value="False"/>
    <param name="battery_threeshold" value="20"/>
    <remap from="/wifi_mapper/occ_grid" to="/costmap/costmap/costmap"/>
    <remap from="/wifi_mapper/goal" to="/move_base_simple/goal"/>
    <remap from="/wifi_mapper/signal" to="/wpa_cli/scan"/>
    <remap from="/wifi_mapper/goal_reached" to="/path_follower/goal_reached"/>
    <remap from="/wifi_mapper/battery_charge" to="/laptop_charge"/>
  </node>
  
  <node pkg="wifi_scanner" type="path_optimizer_wifi" name="path_optimizer" output="screen">
      <param name="max_acceleration" value="0.3"/> 
      <param name="max_braking" value="0.1"/> 
      <param name="velocity" value="0.1"/> 
      <remap from="/path_optimizer/path" to="/wifi_mapper/path"/>
  </node>

  <node pkg="wifi_scanner" type="path_follower_wifi" name="path_follower" output="screen">
      <param name="Kx" value="1.0"/>
      <param name="Ky" value="1.0"/>
      <param name="Ktheta" value="1.0"/>
      <param name="max_rot_speed" value="1.0"/>
      <param name="max_velocity" value="1.0"/>
      <param name="max_y_error" value="1.0"/>
      <param name="look_ahead" value="1.0"/>
      <param name="base_frame" value="/base_link"/>
      <remap from="/path_follower/traj" to="/path_optimizer/trajectory"/>
      <remap from="/path_follower/twistCommand" to="/obstacle_avoidance/command_velocity"/>
      <remap from="/path_follower/goal" to="/move_base_simple/goal"/>
  </node>

</launch>
